body {
   background-color: black;
font-family: 'Arvo', serif;
}



.title-container {
   position: relative;
   margin: auto;
   text-align: center;
   color: white;
   letter-spacing: 15px;
   width: 60vw;
}

.big-container {
   position: relative;
   max-width: 60vw;
   width: 100%;
   margin: auto;
}


.slides {
   /*
      Assuming we have 3 images, and we only want to show 1 one time.
      1. position: absolute; / top: 0;
         --- Every image will stack on each other.
      2. height: 0; / opacity: 0;
         --- Make them all invisible.
      3. width: 60vw;
         --- Resize the images and they should be responsive to the window size.
      4. transition:
         --- It will be trigger by .fadeImage{};
   */
   /*position: absolute;*/
   /*top: 0;
   width: 0vw;
   height: 0;
   opacity: 0;
   transition: opacity 1s ease-in-out .1s,
               height 1s ease-in-out .1s;
}*/

.fadeImage {
   /*
      Every time we click on the arrows or dots, JavaScript will add this class to the image that should appear.
      1. position: relative;.
         --- It replaces the position from absolute to relative So the Image will follows the box flow, which helps us to position "buttons-container";
      2. height: initial; / opacity: 1;
         --- Make the image visible.
      3. width: 60vw;
         --- Make sure the images size and they are responsive.

   */
   position: relative;
   width: 60vw;
   height: initial;
   opacity: 1;
}

.buttons-container {
   /*
      We want the "buttons-container" be responsive.
      1. position: relative;
         --- It should display right below the "slides-container".
      2. bottom: 8vh;
         --- It will move up 8%*ViewportHeight from the bottom. It is not perfectly positioned now but it is responsive.
      3. font-size: 3vw;
         --- The arrows will be responsive.
   */

   position: relative;
   margin: auto;
   bottom: 8vh;
   width: 60vw;
   text-align: center;
   font-size: 3vw;
}

.dot-button {
   /*
      We want the dot-button be responsive.
      1. width: 1.25vw; / height: 1.25vw;
         --- The dots will be responsive.
   */

   display: inline-block;
   width: 1vw;
   height: 1vw;
   border: 1px solid #EEEEEE;
   border-radius: 50%;
   transition: background-color .3s;
}

.dot-filled {
   /*
      This class will be added to myDot and filled the background while it is clicked.
   */

   background-color: #EEEEEE;
}

.dot-button:hover {
   background-color: #EEEEEE;
}

.left-arrow, .right-arrow {
   color: rgba(255, 255, 255, 0.5);
   transition: color .15s;
}

.left-arrow {
   padding-left: 15px;
   float: left;
}
.right-arrow {
   padding-right: 15px;
   float: right;
}

.left-arrow:hover, .right-arrow:hover {
   color: #EEEEEE;
}

.left-arrow, .right-arrow, .dot-button {
   cursor: pointer;
}
